{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
<meta name="description" content="Purdue Ecommerce Demo Store">
<meta name="author" content="Abhay Salpekar">
<meta property="og:title" content="Ecommerce Demo Store | About">
<meta property="og:description" content="Purdue Demo Ecommerce Store">
<meta property="og:type" content="article">
<meta property="og:url" content="http://p_demo_ecom.com/about/">
{% endblock %}

{% block content %}
    <h1>About</h1>
{% endblock %}
